.blog-card {
  background-color: #e7e7e7;
  border-radius: 30px;
  width: 930px;
  height: 295px;
  margin: 0px 30px 50px 30px;

  display: grid;
  grid-row: 1fr 3fr 1fr;
  grid-column: 1fr 2fr;
}

.blog-card > img {
  grid-area: 1/1/4/1;
  width: 250px;
  height: auto;
}

.card-title {
  grid-area: 1/2/2/3;
}

.card-content {
  grid-area: 2/2/3/3;
}

.card-footer {
  grid-area: 3/2/4/3;
}

.blog-date {
  margin: 0;
  padding-left: 75px;
  width: 930px;
  text-align: left;
  /* align-self: left; */
}
