@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Strait&display=swap");

.blog-card {
  background-color: #e7e7e7;
  border-radius: 30px;
  width: 930px;
  height: 295px;
  margin: 0px 30px 50px 30px;

  display: grid;
  grid-row: auto 3fr 1fr;
  grid-column: 1fr 2fr;
  align-items: center;
  /* gap: 1em; */
  padding: 1.5rem;
}

.blog-card > img {
  grid-area: 1/1/4/1;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  /* margin: 25px; */
}

.card-title {
  grid-area: 1/2/2/3;
  font: 2.4rem "Staatliches", cursive;
  margin: 0;
  margin-left: 1.7rem;
  /* margin: 0.3em 0 0 0.7em; */
}

.card-content {
  grid-area: 2/2/3/3;
  margin: 0;
  margin-left: 1.7rem;
  font: 1.2rem "DM Sans", sans-serif;
  line-height: 154.2%;
}

.card-footer {
  grid-area: 3/2/4/3;
  margin: 0;
  margin-left: 1.7rem;
}

.cont-reading {
  text-align: right;
  font: 1.2rem "Strait", sans-serif;
  line-height: 1.4em;
  text-decoration: underline;
  border-bottom: 2px solid #1a7474;
}

.blog-date {
  margin: 0;
  padding-left: 2rem;
  width: 930px;
  text-align: left;
  font: 1.7rem "DM Sans", sans-serif;
  /* align-self: left; */
}
