@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.header-nav {
  list-style: none;
  margin: 0px;
  text-align: right;
  font: 35px "Abel", sans-serif;
}

ul.header-nav > li {
  display: inline-block;
  color: #313131;
  padding: 10px 30px 2px 0px;
  text-decoration: none;
}
