.page {
  border: 2px solid red;
  display: grid;
  grid:
    "header header" 250px
    "main sidebar" auto
    "footer footer" 100px
    / 1fr 150px;
  grid-gap: 20px;
}

.header {
  border: 1px solid blue;
  grid-area: header;
}

.sidebar {
  border: 1px solid orange;
  grid-area: sidebar;
}

.main {
  border: 1px solid yellow;
  grid-area: main;
}

.footer {
  border: 1px solid green;
  grid-area: footer;
}
