body {
  background: #eee8f5;
  margin: 0;
}

.page {
  margin: 0;
  display: grid;
  grid:
    "header header" 400px
    "main sidebar" auto
    "footer footer" 100px
    / 1fr 150px;
  grid-gap: 20px;
}

.header {
  background: #a68d9e;
  grid-area: header;
}

.sidebar {
  background: #ffffff;
  border-radius: 30px;
  margin-right: 50px;

  grid-area: sidebar;
}

.main-content {
  background: #ffffff;
  border-radius: 30px;
  margin-left: 50px;

  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#categories-cont {
  border: 1px solid black;
  order: 1;
}

#blog-card-cont {
  border: 1px solid black;
  order: 2;
}

#change-page-cont {
  border: 1px solid black;
  order: 3;
}

.footer {
  background: #a2aca1;
  grid-area: footer;
}
